<div class="card">
    <form (ngSubmit) = "UpdateProduct()">   <!--added proform ngform-->
        <!-- <input type="hidden" name="_id" [(ngModel)]="updateItem.productId"> -->
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><label>Product Id</label></td>
                            <td><input type="text" name="p_id" [(ngModel)] = "updateItem.productId"/></td>
                        </tr>
                        <tr>
                            <td><label>Product Name</label></td>
                            <td><input type="text" name="p_name" [(ngModel)] = "updateItem.productName"/></td>
                        </tr>
                        <tr>
                            <td><label>Product Code</label></td>
                            <td><input type="text" name="p_code" [(ngModel)] = "updateItem.productCode"/></td>
                        </tr>
                        <tr>
                            <td><label>Product Date</label></td>
                            <td><input type="text" name="p_date" [(ngModel)] = "updateItem.releaseDate"/></td>
                        </tr>
                        <tr>
                            <td><label>Product Description</label></td>
                            <td><input type="text" name="p_desc" [(ngModel)] = "updateItem.description"/></td>
                        </tr>
                        <tr>
                            <td><label>Product Price</label></td>
                            <td><input type="text" name="p_price" [(ngModel)] = "updateItem.price"/></td>
                        </tr>
                        <tr>
                            <td><label>Product starRating</label></td>
                            <td><input type="text" name="p_rating" [(ngModel)] = "updateItem.starRating"/></td>
                        </tr>
                        <tr>
                            <td><label>Product imageUrl</label></td>
                            <td><input type="text" name="p_image" [(ngModel)] = "updateItem.imageUrl"/></td>
                        </tr>
                        <td></td>
                        <td><input type="submit" value="submit"></td>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

